{% extends "./index.html" %}
{% load humanize %}

{% block title %}
<title>{{page_type}}</title>
{% endblock %}

{% block body %}
<div class="container-fluid ">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h4 class="mt-3  text-light">Content</h4>
                    </li>
                    {% for item in page_obj %}
                        <li class="nav-item">
                            <a href="#{{ item.id }}" class="nav-link text-light animate__animated  animate__slideInLeft hvr-grow">
                                {{ item.title }}
                            </a>
                        </li>
                        <hr class="bg-primary text-secondary">
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1 class="mt-4">
                {% if page_type == "privacy" %}
                    Privacy policy
                {% elif page_type == "terms" %}
                    Terms and conditions
                {% elif page_type == "about" %}
                    About us
                {% else %}
                     {{page_type}}
                {% endif %}
            </h1>
            {% for item in page_obj %}
                <div id="{{ item.id }}">
                    <h2>{{ item.title }}</h2>
                    <p class="animate__animated  animate__fadeInRight">{{ item.content|safe }}</p>
                </div>
                <hr class="bg-secondary">
            {% endfor %}
        
            <div class="my-3 my-md-4 my-lg-5">
                {% if page_obj.has_previous %}
                    <a
                        href="?page={{ page_obj.previous_page_number }}"
                        class="text-primary me-2"
                    >
                        Previous
                    </a>
                {% endif %}

                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a
                        href="?page={{ page_obj.next_page_number }}"
                        class="text-primary ms-2"
                    >
                        Next
                    </a>
                {% endif %}
            </div>
        </main>
    </div>
</div>
{% endblock %}
